# ====================
# Dataset Configuration
# ====================
data:
  name: "cifar10"
  path: "./datasets"
  in_ch: 3
  image_size: 32
  num_workers: 4
  subset:
    enable: 0
    ratio: 0.2

# ====================
# Model Configuration
# ====================
model:
  base_ch: 128
  ch_mults: [1,2,4,4]
  enc_heads: [0,4,0,0]
  mid_heads: 4

# ====================
# Diffusion Parameters
# ====================
diffusion:
  T: 1000
  beta_1: 1e-4
  beta_T: 0.02
  beta_schedule: "cosine"
  sampler: "ddim"
  # -- DDIM Parameters
  n_steps: 50
  eta: 0.0

# ====================
# Training Parameters
# ====================
train:
  run_name: "wandb_test"
  epochs: 100
  batch_size: 128
  lr: 2e-4
  ema_decay: 0.999
  log_interval: 1
  save_interval: 1000
  save_path: "./checkpoints"
  num_samples: 4

# ====================
# Seed Configuration
# ====================
rng:
  global_seed: 42
  sample_seeds: [1,7,21,42,87,101,2025,9001]