data:
  name: "cifar10"
  path: "./datasets"
  image_size: 32
  in_ch: 3
  num_workers: 4

model:
  base_ch: 128
  ch_mults: [1,1,2,2,4,4]
  enc_heads: [0,0,0,0,8,8]
  mid_heads: 4
  
diffusion:
  T: 1000
  beta_1: 1e-4
  beta_T: 0.02
  beta_schedule: "cosine"

train:
  epochs: 100
  batch_size: 128
  lr: 2e-4
  ema_decay: 0.999
  log_interval: 100
  save_interval: 1000