# ====================
# Dataset Configuration
# ====================
data:
  name: "cifar10"
  path: "./datasets"
  in_ch: 3
  image_size: 32
  num_workers: 4
  subset:
    enable: 1
    ratio: 0.0025

# ====================
# Model Configuration
# ====================
model:
  base_ch: 128
  num_res_blocks: 2
  ch_mults: [1,2,2,2]
  enc_heads: [0,1,0,0]
  mid_heads: 1

# ====================
# Diffusion Parameters
# ====================
diffusion:
  T: 1000
  beta_1: 1e-4
  beta_T: 0.02
  beta_schedule: "cosine"
  sampler: "ddim"
  # -- DDIM Parameters
  ddim_steps: 100
  eta: 0.0

# ====================
# Training Parameters
# ====================
train:
  run_name: "diffusion_500"
  epochs: 500
  batch_size: 128
  lr: 2e-4
  ema_decay: 0.999

  logging:
    log_interval: 1
    save_interval: 1000
    save_dir: "./runs"

  sampling:
    num_samples: 8
    num_frames: 30
    fps: 10